.classes {
    height: 100vh;
}

.classes-bg {
    background-image: url('../../helpers/images/classes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.classes-title {
    color: #3349FF;
    font-size: 20vw;
    height: 100vh;
    padding-top: 30vh;
}